/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
:root {
    --white: #FFFFFF;
    --ULCA-BLUE: #406E8E;
    --pear: #c1DF1F;
    --tea-green: #C9DCB3;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-colour:#406E8E ;
    --nav-link-colour: #FFFFFF;
    --nav-hover-link-colour:#FFFFFF;
    --nav-hover-background-colour:#F;

}

body {

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #333;
    background-color: #fff;
    position: absolute;
    margin-top: 30px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;

}
.logo img {
    height: 100px;
    
}
.logo img {
    max-width: 200%;
}
nav {
    text-align: right;
    float: right;
}
.navigation {
    display: flex;
    justify-content: flex-end;
    border: 10px; 
  }


.navigation li {
    flex: 1 1 100%;
  }
.navigation a {
    display: block;
    margin-left: 20px;
    text-decoration: none;
    color: navy;
    padding: 20px;
  }

.navigation a:hover {
    color: #555;
    font-weight: 700;
    text-decoration: underline;
  }   
h1,h2 {
    font-family: var(--heading-font);
    color: black;
    
}
p {
    padding: 25px;
} 

   
.sociallinks a {
    text-decoration: none;
}

 
p {
   margin: 1rem;
   
}
p {
   padding: 0;
   color: #000;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    position: relative;
}
/* fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
} */
legend {
    padding: 100px;
    color: black;
    font-size: 1.3em;
}
label,input,button, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    
}
label{
    text-align: start;
    padding-right: 1rem;
}
input,select,textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 40px;
    height: 22px;
    vertical-align: text-top;
}
button {
    margin: 1rem;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    
}
button:hover {
    background-color: darkblue;
}
