/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
:root {
    --white: #FFFFFF;
    --ULCA-BLUE: #406E8E;
    --pear: #c1DF1F;
    --tea-green: #C9DCB3;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-colour:#406E8E ;
    --nav-link-colour: #FFFFFF;
    --nav-hover-link-colour:#FFFFFF;
    --nav-hover-background-colour:#F;

}

body {

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #333;
    background-color: #fff;
    margin-top: 30px;
}
header {
    display: grid;
    
  border-color:  #333;
    
}
/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
} */

.logo img {
    height: 100px;
    
}
.logo img {
    max-width: 200%;
    float: left;
}
.navigation{

 display: flex;
 float: right;
}
.trip-discription {
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
}
.trip-discription img {
    max-width: 200px;
    margin-right: 20px;

}
.trip-details h2 {
    font-size: 24px;
}
table {
     border-collapse: collapse; 
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    text-align: center;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 20px;
}

.grid-item img {
    max-width: 100%;
}

.grid-item h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.grid-item p {
    margin: 10px 0;
}

h1,h2 {
    font-family: var(--heading-font);
    color: black;
    
}
p {
    padding: 25px;
} 

   
.sociallinks a {
    text-decoration: none;
}
.adventures-images {
    display: flex;
}
.history-section {
    display: flex;
    padding-right: 10px;
}

.box {
    width: 80%;
     margin: 0 auto;  
    padding: 20px;
    border: 2px solid #333;
    /* position: relative; */
} 
 .box img{
    max-width: 10.5%; 
    height: auto;
    display: block; 
    margin: 0 auto;
    float: right; 
    }
 
p {
   margin: 1rem;
   
}
h2 img {
    display: grid;
}
p {
   padding: 0;
   color: #000;
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
}
.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0070C0;
    color: #ffffff;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
footer h3 {
    margin: 12px;
    font-size: 1.5em;
    color: black;
    text-align: center;
    position: relative;
    width: 2000px;
}
legend {
    padding: 100px;
    color: black;
    font-size: 1.3em;
}
label,input,button, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    
}
label{
    text-align: start;
    padding-right: 1rem;
}
input,select,textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 40px;
    height: 22px;
    vertical-align: text-top;
}
button {
    margin: 1rem;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    
}
button:hover {
    background-color: darkblue;
}  
