@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --white: #FFFFFF;
    --ULCA-BLUE: #406E8E;
    --pear: #c1DF1F;
    --tea-green: #C9DCB3;

    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-colour:#406E8E ;
    --nav-link-colour: #FFFFFF;
    --nav-hover-link-colour:#FFFFFF;
    --nav-hover-background-colour:#F;

}

body {

    max-width: 800px;
    margin: 0 auto;
}
.header {
    margin: 1rem auto;
    display: grid;
  grid-template-columns: 120px 1fr 2fr ;
  align-items: center; 
  border-bottom: 1px solid #ccc;
  max-width: 1000px;

}
.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
    float: left;
    
}
.logo img {
    max-width: 100%;
}
nav {
    text-align: right;
    float: right;
}
.navigation {
    display: flex;
    justify-content: flex-end;
    border: 10px; 
  }


.navigation li {
    flex: 1 1 100%;
  }
.navigation a {
    display: block;
    text-decoration: none;
    color: navy;
    padding: 20px;
  }

.navigation a:hover {
    color: #555;
    font-weight: 700;
    text-decoration: underline;
  }   
h1,h2 {
    font-family: var(--heading-font);
    color: var(--ULCA-BLUE);
    
}
p {
    padding: 25px;
} 
.history-section {
    padding: 20px;
    
}
.centered-image {
    display: block;
    margin: 0 auto;    
}


  
.adventures-section {
    padding: 20px;
}

.history-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.adventures-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
/* .adventures-images {
    display: flex;
}
    */
.sociallinks a {
    text-decoration: none;
}
.hero {
    
    position: relative;
}
.hero h1,
.hero article {
    position: absolute;
    top: 10px;
    left: 150px;
     
}
div img {
    width: 0;
    height: 0;
}  
 
 .hero img {
    display: block;
    width: 100%;
    height: auto;
 }
.hero h1 {
    position: absolute;
    top: 100px;
    right: 10px; 
     
 }
 
p {
   margin: 1rem;
   
}
p {
   padding: 0;
   color: #000;
}
.hero article {
    position: absolute;
    top: 152px;
    left: 10px;
 }
 
.hero article img {
    float: right;
    margin: 20px;
    width: 150px;
    
}
.box {
    margin: 1rem;
    border-top: 0px;
    padding: 1rem;
    background-color: rgba(135, 206, 235, 0.5);
    color: #000;
}

.container {
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    

}

footer { 
    
  align-items: center;
  
   
}
