* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 nav {   
    background-color: steelblue;
    padding: 10px;
 }
nav a {
    color: white;
    display: block;
    padding: 20px;
 }
 h1 {
    color: steelblue;
    padding: 1rem;
    border-bottom: 2px solid blue;

 }
 main image {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1rem 1rem;
 } 
 p {
    margin: 1rem;
 }
 p {
    padding: 0;
 }

 aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
 }
 aside img{
    width: 200px;
    height: auto;

 }
 main img{
    width: 150px;
    height: auto;
 }
 footer{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
 }

/* class selector */
 .box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
 }
 aside {
    width: 20em;
    text-align: center;
    position: relative;
 }
 main img {
    float: right;
 }
 aside h2 {
    position: absolute;
    top: 50px;
    left: 140px;
 }
header, .grid, footer {
   max-width: 840px;
   margin: 0 auto;
}
nav {
   background-color: steelblue;
   padding: 1rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
nav a {
   display: block;
   padding: 1rem;
   text-decoration: none;
   font-size: 1.2rem;
   font-weight: 700;
   color: #fff;
}
.grid {
   display: grid;
   align-items: center;
}
main {
   grid-column: 2/3;
   margin: 1rem;
}
aside {
   width: 20rem;
   position: relative;
   grid-column: 1/2;
   grid-row: 1/2;
}
